body{
    color: white;
    text-shadow: 1px 1px black;
    background-color: #777777;
    padding: 1.5%;
}
h1{
    background-color: #555555;
    border-radius: 10px;
    width: 162.5px;
    border: 1px solid #FFA421;
    background-image: radial-gradient(circle at center, #555555, #FFA421);
}
h2{
    background-color: #555555;
    border-radius: 10px;
    width: 141.5px;
    border: 1px solid #FFA421;
    background-image: radial-gradient(circle at center, #555555, #FFA421);

}
h3{
    background-color: #555555;
    border-radius: 10px;
    width: 90px;
    border: 1px solid #FFA421;
    background-image: radial-gradient(circle at center, #555555, #FFA421);
}
h4{
    background-color: #555555;
    border-radius: 10px;
    width: 80%;
    border: 1px solid #FFA421;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
h6{
    color: white;
    padding: 1.5%;
}
.titleSorteio{
    width: 17.5%;
    margin-left: 40%;
    background-color: #9800D5;

}
.inputRandom{
    border-radius: 5px;
    background-color: white;
    width: 50%;
}
.inputRandom:hover{
    background-color: #555555;
    color: #FFA421;
    transition: 0.5s;
    
}
.inputRandomSort{
    border-radius: 50px;
    background-color: black;
    width: 3.5rem;
    padding-left: 5px;

}
.inputRandomSort:hover{
    background-color: white;
    border: 2px 2px black solid;
    border-color: red;
    transition: 0.5s;
    
}
.random{
    background-color: #555555;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: auto;
    background-image: url('waluigiPinball.jpg'), url('casinoPalace.jpg');
}
.bioInformataTitle{
    padding: 2.5%;
    text-align: justify;
}
.bioInformata{
    padding-top: 1%;
    text-align: left;
    width: 95%;
}
.container{
    padding-left: 12.5%;
}
.titleNotas{
    width: 75%;
}
.inputNotas{
    width: 5%;
    border-radius: 10px;
    border: 2px 2px solid black;
    background-color: white;

}
.btnNotas{
    width: 40%;
}
.notasPrint{
    width: 50%;
}
.row{
    width: 90%;
}
.card{
    --bs-card-bg: var(--bs-success);
    
    max-width: 75%
}
.card-body{
    color: white;
    text-shadow: 1px 1px black;
}
.card-body:hover{
    color: #8AA8FF;
    transition: 0.5s;
}
.title{
    border-bottom: 10px #FFA421 dotted;

}
input{
    border: 1px solid #FFA421;
    border-radius: 5px;
}
input:hover{
    border-color: #FFFFFF;
    background-color: #FFA421;
    color: #FFFFFF;
}
.prints{
    margin: 2.5%;
}
button{
    border: 1px solid #FFA421;
    border-radius: 5px;
}
button:hover{
    border-color: #FFFFFF;
    background-color: #FFA421;
    color: #FFFFFF;
}
a:link{
    color: #FFA421;
    text-decoration: none;
    
}
a:visited{
    color: #FFA421;
}
a:hover{
    color: #FEE76F;
    transition: 0.5s;
}

.form-group{
    width: 90%;
    margin: 0%;

}
.form-check{
    width: 25%;
    margin-left: 2.5%;
    border-left: 2.5%;
}
.aprovado{
    background-color: var(--bs-success);
}
.recuperacao{
    background-color: var(--bs-primary);
}
.reprovado{
    background-color: var(--bs-danger);
}
#result{
    width: 75%;
}
.notas{
    background-image: radial-gradient(circle at center, #FFA421, #555555);
    
}
.index{
    background-image: radial-gradient(circle at center, #7BFF9B, #7B97FF);
}
.form{
    background-image: radial-gradient(circle at center,#001B94, #B5AF00, #229400);
}
#estado:hover{
    color: #FEE76F;
    transition: 0.5s;
}