<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bruh</h1>
    <footer style="padding-top: 18.5%;">
        <div class="container col-6 text-center">
        <div class="col">
            <a href="register.html" target="_blank">
                Cadastro
            </a>
        </div>
        <div class="col">
            <a href="account.html" target="_blank">
                Sua Conta
            </a>
        </div>
        <div class="col">
            <a href="buy.html" target="_blank">
                Compras
            </a>
        </div>
        <div class="col">
            <a href="index.html" target="">
                Home
            </a>
        </div>
    </div>
    </footer>
</body>
</html>