<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <script src="../../../js/post.js"></script>
    <div class="container">
        <div class="row mt-5">
            <div class="col text-center" style="color: white;">
                <h1>Cadastro</h1>
            </div>
        </div>
        <div class="row m-3">
            <div class="col">
                <form method="POST" action="account.html">
                <div class="container text-center" style="max-width: 25%; color: white; border: 1px solid white; border-radius: 10px;">
                    <div class="mb-3">
                        <label class="form-label" for="name">Nome</label>
                        <input class="form-control" type="text" id="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email" pattern="[a-zA-Z0-9]{3}@[a-zA-Z0-9]{3}\.com">E-Mail</label>
                        <input class="form-control" type="email" id="email">
                        <small id="emailError" style="color: red; display: none;">O e-mail precisa ter 3 dígitos antes do "@" e 3 dígitos depois, terminando com ".com"</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Senha</label>
                        <input class="form-control" type="password" id="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="birth">Data de Nascimento</label>
                        <input class="form-control" type="date" id="birth">
                    </div>
                    <button class="btn btn-secondary" type="submit" onclick="cadastrarUsuario()">Cadastrar</button>
                </div>
                   
                </form>
            </div>
        </div>
    </div>
    <footer style="padding-top: 18.5%;">
            <div class="container col-6 text-center">
            <div class="col">
                <a href="register.html" target="_blank">
                    Cadastro
                </a>
            </div>
            <div class="col">
                <a href="account.html" target="_blank">
                    Sua Conta
                </a>
            </div>
            <div class="col">
                <a href="buy.html" target="_blank">
                    Compras
                </a>
            </div>
            <div class="col">
                <a href="index.html" target="">
                    Home
                </a>
            </div>
        </div>
        </footer>
        <script src="../../../js/post.js"></script>
</body>
</html>